<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.augmantedreality">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="andriod.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".EditProfileActivity"></activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity android:name=".ShowModelActivity" />
        <activity android:name=".Quiz1Activity" />
        <activity android:name=".Transition" />
        <activity
            android:name=".BasementActivity"
            android:label="@string/title_activity_basement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>